* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: bold;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .container {
    width: 300px;
    height: 500px;
    margin: auto;
    /* padding: 1rem; */
    /* border: 1px solid red; */
    background-color: black;
    color: white;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 62px 62px 62px 62px;
    grid-template-rows: 150px 62px 62px 62px 62px 62px;
    justify-content: center;
    gap: 0.3rem;
    margin-top: 5rem;
    align-items: flex-end;
  }
  .content {
    /* border: 1px solid blue; */
    background-color: rgb(44, 44, 44);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
  .write {
    display: block;
  }
  .c0 {
    grid-column-start: 1;
    grid-column-end: 3;
    border-radius: 40px;
    width: 120px;
    
  }
  .islemler {
    background-color: rgb(231, 159, 57);
  }
  .ustkısım {
    background-color: grey;
  }
  .content:hover {
    background-color: rgba(128, 128, 128, 0.6);
  }
  .islemler:hover {
    background-color: rgba(255, 166, 0, 0.8);
  }
  .ustkısım:hover {
    background-color: rgba(194, 194, 194, 0.8);
  }